.listItem{
	color:#3E434F;
	font-size: 17px;
	letter-spacing: 1px;
	width: 250px;
	word-wrap: break-word
}

.listItem_done{
	color:#BDC0CA;
	letter-spacing: 1px;
	font-size: 17px;
}

.listItemWrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}

.todosItem{
	padding-top: 60px;
	padding-right: 10px;
	width: 260px;
	height: 250px;
	overflow-y: scroll;
}

.todosItem::-webkit-scrollbar{
	width: 5px;
}

.todosItem::-webkit-scrollbar-track{
	background: none; 
}

.todosItem::-webkit-scrollbar-thumb{
	background-color: #BDC0CA;    /* color of the scroll thumb */
  border-radius: 50px;
  height: 10px;     /* roundness of the scroll thumb */
}

.btn_done{
	border: 4px solid #50E3A4;
	background: url("../img/checked@1X.png");
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
}

.btn {
	border: 4px solid #EEF0F5;
	background: none;
}

.btnDelete{
	border: none;
	background: none;
	font-size: 30px;
	color:#616473;
}

button{
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

